<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwULbd4CWBjhTMqFWU57jqS20tcrOnf5c</string>
	<key>GCM_SENDER_ID</key>
	<string>990553984739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redplanetresorts.redplanetresorts</string>
	<key>PROJECT_ID</key>
	<string>red-planer-resort</string>
	<key>STORAGE_BUCKET</key>
	<string>red-planer-resort.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990553984739:ios:9c421eace8e8ec33dfbfd6</string>
</dict>
</plist>